pygame
pyglet
pygtk
pyqt5
wxpython
ipython
pillow
opencv-python
simplecv
scikit-image
pyglet
moviepy
pprocess
mahotas
numpy
scipy
pandas
matplotlib
seaborn
bokeh
plotly
sklearn
sympy
theano
keras
nltk
gensim
scrapy
statsmodels
pylearn2
pyevolve
nupic
pattern
caffe
nilearn
fuel
MILK
pyml
pydeep
asyncoro
diesel
gevent
twistedMatrix
rpyc
pyro
httpLib2
celery
pulsar
napalm
requests
scrapy
scapy

beautifulsoup
flask
openflow

django
goflow

pyramid
web2py
pyquery
mxtidy

elementtree
amara

pynacl
libnacl
gnupg
pycrypt
pyca
cryptography
passlib

pytest
twine
mock
coverage
check-manifest
tox
travis
cookiecutter



